*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: lightgrey;
}

.logo-container {
    position: absolute;
    top: 40px;
    left: 84px;
}

.ingreso-texto-container {
    position: absolute;
    top: 168px;
    left: 240px;
}

.ingreso-texto-container textarea {
    font-size: 32px;
    color: #0A3871;
    border: none;
}

.ingreso-texto-container textarea::placeholder {
    color: #0A3871; /* Cambia el color aquí */
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 841px;
}

.info-container img {
    width: 16px;
    height: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.info-container p {
    width: 205px;
    height: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    flex-grow: 0;
}

.botones-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

#button-encriptar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 320px;
    height: 67px;

    background: #0A3871;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#button-encriptar p {
    width: 280px;
    height: 19px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 1;
    background-color: #0A3871;
}

#button-desencriptar {
    /* Button */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Light gray */

    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#button-desencriptar p {
    /* Button */


    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Dark blue/dark-blue-300 */

    color: #0A3871;
    background-color: #D8DFE8;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.rectangulo-muneco {
    position: absolute;
    top: 40px;
    left: 1000px;
    width: 400px;
    height: 944px;
    border-radius: 32px;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.rectangulo-muneco img {
    max-width: 100%;
    max-height: 100%;
    background-color: white;
}

.rectangulo-muneco button {
    /* Button */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    position: absolute;
    width: 336px;
    height: 67px;
    left: 32px;
    top: 845px;

    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;
    background-color: white;
    display: none;
}

.texto-encriptado {
    position: absolute;
    width: 336px;
    height: 781px;
    left: 32px;
    top: 72px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */


    /* Gray/gray-400 */

    color: #495057;
    background-color: white;
    display: none;

}

.mensaje-muneco {
    /* Frame 5 */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 336px;
    height: 122px;
    left: 1032px;
    top: 690px;
    background-color: white;

}

.mensaje-muneco p:first-child {
    /* Ningún mensaje fue encontrado */

   
    width: 336px;
    height: 58px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    text-align: center;

    /* Gray/gray-500 */

    color: #343A40;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    background-color: white;
    display: none;
}

.mensaje-muneco p:last-child {
    /* Ingresa el texto que desees encriptar o desencriptar. */


    width: 336px;
    height: 48px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    /* Gray/gray-400 */

    color: #495057;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    background-color: white;
}
  

/* Estilos para el pie de página */
footer {
    position: relative;
    top: 1000px;
	width: 100%;
	height: 20%;
	background-color: lightgrey;
	color: black;
	text-align: center;
	max-width: 100%;

}

/* estilos de iconos redes */

.fa-brands {
	font-size: 30px;
	margin: 10px;
	transition: all 0.2s ease-in-out;
	/* efecto de transición suave */
	padding: 10px;
	border-radius: 50%;
	color: #0A3871;

}

.icon-container {
	top: 10px;
	padding: 20px;
	position: relative;
	font-size: 30px;
}

.fa-brands:hover {

	transform: scale(1.1);
	/* escala el logo en un 10% */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	/* agrega una sombra */
}

.fa-twitter:hover {
	color: #00acee;
}

.fa-facebook:hover {
	color: #2f5dc2;
}

.fa-pinterest:hover {
	color: #c8232c;
}

.fa-youtube:hover {
	color: #c4302b;
}

.fa-instagram:hover {
	color: #a16c1d;
}

.fa-whatsapp:hover {
	color: #25D366;
}
