*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    background-color: lightgrey;
    transition: .3s ease all;
}

body.dark {
    background-color: #000;
}

main {
    height: 90%;
}


.logo-container {
    position: absolute;
    top: 40px;
    left: 84px;
}

.logo-container img {
    border-radius: 5px;
    padding: 1px;
    margin: 2px;
    background: none;
    
}

.logo-container.dark img {
    box-shadow: 0px 0px 50px rgba(255, 255, 255);
}

.logo-container img:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    /*transform: rotate(10deg); */
    animation: tambaleo 0.3s;
    
}

@keyframes tambaleo {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
    75% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

.ingreso-texto-container {
    position: absolute;
    top: 168px;
    left: 240px;
}

/*-----------------------------------------------------------switch-----------------------------------------------------------------------------*/
.switch {
    position: relative;
    top: 5em;
    left: 63em;
    background-color: #343d5b;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch.active {
    background-color: orange;
    color: #000;
}

.switch.active::after {
    right: 0;
    left: unset;
}

.switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: white;
}

.fa-sun,.fa-moon {
    background: none;
}



#ingreso-texto {
    font-size: 32px;
    color: #0A3871;
    border: none;
    transition: .3s ease all;
}

#ingreso-texto.dark {
    background-color:#343A40;
    color: white;
}

#ingreso-texto::placeholder {
    color: #0A3871; /* Cambia el color aquí */
}

#ingreso-texto.dark::placeholder {
    color: white;
}



.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 43em;
}

.info-container img {
    width: 16px;
    height: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.info-container p {
    width: 205px;
    height: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    flex-grow: 0;
}

.botones-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 45em;
}

#button-encriptar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 320px;
    height: 67px;

    background: #0A3871;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;

    transition: all 0.2s ease-in-out;
	/* efecto de transición suave */
}

#button-encriptar:hover {

    transform: scale(1.05);

}

#button-encriptar p {
    width: 280px;
    height: 19px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 1;
    background-color: #0A3871;
}

#button-desencriptar {
    /* Button */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Light gray */

    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    transition: all 0.2s ease-in-out;
	/* efecto de transición suave */
}

#button-desencriptar:hover {

    transform: scale(1.05);

}

#button-desencriptar p {
    /* Button */


    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Dark blue/dark-blue-300 */

    color: #0A3871;
    background-color: #D8DFE8;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

/*area de resultado */
.rectangulo-muneco {
    position: absolute;
    top: 40px;
    left: 1000px;
    width: 400px;
    height: 47em;
    border-radius: 32px;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease all;
}

.rectangulo-muneco.dark {
    background-color: #343A40;
    color: #FFFFFF;
}

.rectangulo-muneco img {
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    transition: .3s ease all;
}

.rectangulo-muneco.dark img {
    background-color: #343A40;
}

.rectangulo-muneco button {
    /* Button */

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    position: absolute;
    width: 336px;
    height: 67px;
    left: 32px;
    top: 42em;

    /* Dark blue/dark-blue-300 */

    border: 1px solid #0A3871;
    border-radius: 24px;
    background-color: white;
    color: #0A3871;
    display: none;

    transition: all 0.2s ease-in-out;
	/* efecto de transición suave */
}

#btnCopiar:hover {

    transform: scale(1.05);

}

.texto-encriptado {
    position: absolute;
    width: 336px;
    height: 25em;
    left: 32px;
    top: 72px;
    border: none;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */


    /* Gray/gray-400 */

    color: #495057;
    background-color: white;
    display: none;
    transition: .3s ease all;

}

.texto-encriptado.dark {
    background-color: #343d5b;
    color: white;
}

.mensaje-muneco {
    /* Frame 5 */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 336px;
    height: 122px;
    left: 20em;
    top: 35em;
    background-color: lightgray;
    transition: .3s ease all;

}

.mensaje-muneco.dark {
    background-color: #000;
    color: #FFFFFF;
}

.mensaje-muneco p:first-child {
    /* Ningún mensaje fue encontrado */

   
    width: 336px;
    height: 58px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    text-align: center;

    /* Gray/gray-500 */

    color: #343A40;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    background-color: lightgray;
    display: none;
}

.mensaje-muneco p:last-child {
    /* Ingresa el texto que desees encriptar o desencriptar. */


    width: 336px;
    height: 48px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    /* Gray/gray-400 */

    color: #495057;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    background-color: lightgrey;
    display: none;
}
  

/* Estilos para el pie de página */
footer {
    position: relative;
    top: 50em;
	width: 100%;
	height: 20%;
	background-color: lightgrey;
	color: black;
	text-align: center;
	max-width: 100%;

}

/* estilos de iconos redes */

.fa-brands, .fa-envelope {
	font-size: 30px;
	margin: 10px;
	transition: all 0.2s ease-in-out;
	/* efecto de transición suave */
	padding: 10px;
	border-radius: 50%;
	color: #0A3871;

}

.icon-container {
	top: 10px;
	padding: 20px;
	position: relative;
	font-size: 30px;
}

.fa-brands:hover,.fa-envelope:hover {

	transform: scale(1.1);
	/* escala el logo en un 10% */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	/* agrega una sombra */
}

.fa-linkedin:hover {
	color: #0077B5;
}

.fa-square-github:hover {
	color: black;
}

.fa-instagram:hover {
	color: #a16c1d;
}

.fa-whatsapp:hover {
	color: #25D366;
}

.fa-envelope:hover {
	color: lightgoldenrodyellow;
}
